
.whatsapp-float {
    position: fixed;    
    width: 60px;          
    height: 60px;         
    bottom: 20px;        
    right: 20px;          
    background-color: #25D366; 
    border-radius: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;      
    transition: transform 0.3s;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.1); 
}

.whatsapp-float img {
    width: 35px;        
    height: 35px;
}
